In [2]:
#Stage 1: Get necessary packages
# https://pandas.pydata.org/docs/user_guide/style.html
import pandas as pd
import numpy as np
import matplotlib as mpl

In [3]:
# creating a data frame 
dfNetflix = pd.read_csv("netflix_titles.csv") 
print(dfNetflix.head())

  show_id     type                  title         director  \
0      s1    Movie   Dick Johnson Is Dead  Kirsten Johnson
1      s2  TV Show          Blood & Water              NaN
2      s3  TV Show              Ganglands  Julien Leclercq
3      s4  TV Show  Jailbirds New Orleans              NaN
4      s5  TV Show           Kota Factory              NaN

                                                cast        country  \
0                                                NaN  United States
1  Ama Qamata, Khosi Ngema, Gail Mabalane, Thaban...   South Africa
2  Sami Bouajila, Tracy Gotoas, Samuel Jouy, Nabi...            NaN
3                                                NaN            NaN
4  Mayur More, Jitendra Kumar, Ranjan Raj, Alam K...          India

           date_added  release_year rating   duration  \
0  September 25, 2021          2020  PG-13     90 min
1  September 24, 2021          2021  TV-MA  2 Seasons
2  September 24, 2021          2021  TV-MA   1 Season
3  September 24, 2021          2021  TV-MA   1 Season
4  September 24, 2021          2021  TV-MA  2 Seasons

                                           listed_in  \
0                                      Documentaries
1    International TV Shows, TV Dramas, TV Mysteries
2  Crime TV Shows, International TV Shows, TV Act...
3                             Docuseries, Reality TV
4  International TV Shows, Romantic TV Shows, TV ...

                                         description
0  As her father nears the end of his life, filmm...
1  After crossing paths at a party, a Cape Town t...
2  To protect his family from a powerful drug lor...
3  Feuds, flirtations and toilet talk go down amo...
4  In a city of coaching centers known to train I...

In [4]:
#See general information about dataset
print(dfNetflix.info()) 

#Here we can see that columns director, cast, country, date_added, rating, duration, have null values which we should remove

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8807 entries, 0 to 8806
Data columns (total 12 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   show_id       8807 non-null   object
 1   type          8807 non-null   object
 2   title         8807 non-null   object
 3   director      6173 non-null   object
 4   cast          7982 non-null   object
 5   country       7976 non-null   object
 6   date_added    8797 non-null   object
 7   release_year  8807 non-null   int64
 8   rating        8803 non-null   object
 9   duration      8804 non-null   object
 10  listed_in     8807 non-null   object
 11  description   8807 non-null   object
dtypes: int64(1), object(11)
memory usage: 825.8+ KB
None

In [5]:
#One way of removing empty cells
# Make new dataframe that drops all the columns that are empty
new_df = dfNetflix.dropna()
print(new_df)

     show_id     type                          title             director  \
7         s8    Movie                        Sankofa         Haile Gerima
8         s9  TV Show  The Great British Baking Show      Andy Devonshire
9        s10    Movie                   The Starling       Theodore Melfi
12       s13    Movie                   Je Suis Karl  Christian Schwochow
24       s25    Movie                          Jeans           S. Shankar
...      ...      ...                            ...                  ...
8801   s8802    Movie                        Zinzana      Majid Al Ansari
8802   s8803    Movie                         Zodiac        David Fincher
8804   s8805    Movie                     Zombieland      Ruben Fleischer
8805   s8806    Movie                           Zoom         Peter Hewitt
8806   s8807    Movie                         Zubaan          Mozez Singh

                                                   cast  \
7     Kofi Ghanaba, Oyafunmike Ogunlano, Alexandra D...
8     Mel Giedroyc, Sue Perkins, Mary Berry, Paul Ho...
9     Melissa McCarthy, Chris O'Dowd, Kevin Kline, T...
12    Luna Wedler, Jannis Niew√∂hner, Milan Peschel, ...
24    Prashanth, Aishwarya Rai Bachchan, Sri Lakshmi...
...                                                 ...
8801  Ali Suliman, Saleh Bakri, Yasa, Ali Al-Jabri, ...
8802  Mark Ruffalo, Jake Gyllenhaal, Robert Downey J...
8804  Jesse Eisenberg, Woody Harrelson, Emma Stone, ...
8805  Tim Allen, Courteney Cox, Chevy Chase, Kate Ma...
8806  Vicky Kaushal, Sarah-Jane Dias, Raaghav Chanan...

                                                country          date_added  \
7     United States, Ghana, Burkina Faso, United Kin...  September 24, 2021
8                                        United Kingdom  September 24, 2021
9                                         United States  September 24, 2021
12                              Germany, Czech Republic  September 23, 2021
24                                                India  September 21, 2021
...                                                 ...                 ...
8801                       United Arab Emirates, Jordan       March 9, 2016
8802                                      United States   November 20, 2019
8804                                      United States    November 1, 2019
8805                                      United States    January 11, 2020
8806                                              India       March 2, 2019

      release_year rating   duration  \
7             1993  TV-MA    125 min
8             2021  TV-14  9 Seasons
9             2021  PG-13    104 min
12            2021  TV-MA    127 min
24            1998  TV-14    166 min
...            ...    ...        ...
8801          2015  TV-MA     96 min
8802          2007      R    158 min
8804          2009      R     88 min
8805          2006     PG     88 min
8806          2015  TV-14    111 min

                                             listed_in  \
7     Dramas, Independent Movies, International Movies
8                         British TV Shows, Reality TV
9                                     Comedies, Dramas
12                        Dramas, International Movies
24     Comedies, International Movies, Romantic Movies
...                                                ...
8801           Dramas, International Movies, Thrillers
8802                    Cult Movies, Dramas, Thrillers
8804                           Comedies, Horror Movies
8805                Children & Family Movies, Comedies
8806    Dramas, International Movies, Music & Musicals

                                            description
7     On a photo shoot in Ghana, an American model s...
8     A talented batch of amateur bakers face off in...
9     A woman adjusting to life after a loss contend...
12    After most of her family is murdered in a terr...
24    When the father of the man she loves insists t...
...                                                 ...
8801  Recovering alcoholic Talal wakes up inside a s...
8802  A political cartoonist, a crime reporter and a...
8804  Looking to survive in a world taken over by zo...
8805  Dragged from civilian life, a former superhero...
8806  A scrappy but poor boy worms his way into a ty...

[5332 rows x 12 columns]

In [6]:
print(new_df.info())
# 3 eights (3/8) of the dataset is removed so we may need to find other ways to clean data

<class 'pandas.core.frame.DataFrame'>
Index: 5332 entries, 7 to 8806
Data columns (total 12 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   show_id       5332 non-null   object
 1   type          5332 non-null   object
 2   title         5332 non-null   object
 3   director      5332 non-null   object
 4   cast          5332 non-null   object
 5   country       5332 non-null   object
 6   date_added    5332 non-null   object
 7   release_year  5332 non-null   int64
 8   rating        5332 non-null   object
 9   duration      5332 non-null   object
 10  listed_in     5332 non-null   object
 11  description   5332 non-null   object
dtypes: int64(1), object(11)
memory usage: 541.5+ KB
None

Looking at data that is blank (Excel)
- Type of show: No blanks, so columns are fine 
- Title: 2 rows are written as dates so can remove. 
- Director: Lof of blanks so I cannot remove the row. Also it is possible that aa director can be uncredited.
- Cast: A lot of blanks. However this is compulsorary so remove.
- Date: 1 blank Tv show removed, 3 dates formatted wrong and can correct
- Release: Data column is fine 
- Rating: 1 blank rating remove
- Duration: Data is fine as in minutes. 
- Listed_in is fine 
- Description is fine. Even if it was blank it wouuldn't be needed to removed.
Made the determination that mean, median and mode don't need to be used here
Need to check if there is duplicated values in based on title.

In [7]:
#Cleaning specified areas
#https://www.w3schools.com/python/pandas/pandas_cleaning_empty_cells.asp

#Remove blank for Directors
# Drop rows where 'director' is NaN and 'type' is "Movie"
dfNetflix = dfNetflix[~((dfNetflix['director'].isna()) & (dfNetflix['type'] == "Movie"))]

In [8]:
dfNetflix['title'] .dropna()

0        Dick Johnson Is Dead
1               Blood & Water
2                   Ganglands
3       Jailbirds New Orleans
4                Kota Factory
                ...
8802                   Zodiac
8803              Zombie Dumb
8804               Zombieland
8805                     Zoom
8806                   Zubaan
Name: title, Length: 8619, dtype: object

In [17]:
# List of titles to keep
titles_to_drop = ['8/15/2025', '2/9/2025', '7/22/2025', '10/1/2025', '2/9/2025', '7/22/2025', '8/15/2025']

# Drop rows where the title is in the list
dfNetflix = dfNetflix[~dfNetflix['title'].isin(titles_to_drop)].dropna()

In [ ]:
dfNetflix['cast'] .dropna()

In [ ]:
dfNetflix['date_added'] .dropna()

In [18]:
#Find Duplicates
#https://www.w3schools.com/python/pandas/trypandas.asp?filename=demo_pandas_cleaning_duplicated

print(dfNetflix.duplicated())
#This refers to TV shows but we are okay

Series([], dtype: bool)